
*.jpg
*.gz
FashionMNIST Generator (using GAN)/data/FashionMNIST/raw/train-labels-idx1-ubyte
FashionMNIST Generator (using GAN)/data/FashionMNIST/raw/train-images-idx3-ubyte
FashionMNIST Generator (using GAN)/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
FashionMNIST Generator (using GAN)/data/FashionMNIST/raw/t10k-images-idx3-ubyte
FashionMNIST Generator (using GAN)/data/FashionMNIST/processed/test.pt
FashionMNIST Generator (using GAN)/data/FashionMNIST/processed/training.pt
*.png
MNIST (CNN-Pytorch)/data/MNIST/raw/t10k-images-idx3-ubyte
MNIST (CNN-Pytorch)/data/MNIST/processed/training.pt
MNIST (CNN-Pytorch)/data/MNIST/processed/test.pt
MNIST (CNN-Pytorch)/data/MNIST/raw/t10k-labels-idx1-ubyte
MNIST (CNN-Pytorch)/data/MNIST/raw/train-images-idx3-ubyte
MNIST (CNN-Pytorch)/data/MNIST/raw/train-labels-idx1-ubyte
MNIST (CNN-Pytorch)/.vscode/launch.json
MNIST (CNN-Pytorch)/.vscode/settings.json
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/train-labels-idx1-ubyte
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/train-images-idx3-ubyte
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/t10k-images-idx3-ubyte
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/processed/training.pt
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/processed/test.pt
*.zip
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/train-labels-idx1-ubyte
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/train-images-idx3-ubyte
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/t10k-labels-idx1-ubyte
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/t10k-images-idx3-ubyte
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/processed/training.pt
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/processed/test.pt
SVHN Classification (CNN-Pytorch)/data/extra/extra_32x32.mat
SVHN Classification (CNN-Pytorch)/data/train/train_32x32.mat
*.pt
CNNs/MNIST (CNN-Pytorch)/data/MNIST/raw/t10k-images-idx3-ubyte
CNNs/MNIST (CNN-Pytorch)/data/MNIST/raw/t10k-labels-idx1-ubyte
CNNs/MNIST (CNN-Pytorch)/data/MNIST/raw/train-images-idx3-ubyte
CNNs/MNIST (CNN-Pytorch)/data/MNIST/raw/train-labels-idx1-ubyte
GANs/FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/t10k-images-idx3-ubyte
GANs/FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
GANs/FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/train-images-idx3-ubyte
GANs/FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/train-labels-idx1-ubyte
*.mp4
GANs/Horse to Zebrra (CycleGAN-Pytorch)/camera_channel.py
GANs/Horse to Zebrra (CycleGAN-Pytorch)/main.py
GANs/MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/t10k-images-idx3-ubyte
GANs/MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/t10k-labels-idx1-ubyte
GANs/MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/train-images-idx3-ubyte
GANs/MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/train-labels-idx1-ubyte
*.mat
*.Bmp
*.csv
On-goings/SVHN Classification (CNN-Pytorch)/model/model.pth
Object Detection/SVHN Recognition (FasterRCNN-Pytorch)/model/model.pth
Object Detection/SVHN Recognition (FasterRCNN-Pytorch)/SVHN Detection & Recogition .ipynb
NLP/Toxic Comment Classification/pretrained_model/bert-base-uncased-vocab.txt
*.pth
On-goings/FashionMNIST Generator (cDCGAN-Pytorch)/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
On-goings/FashionMNIST Generator (cDCGAN-Pytorch)/data/FashionMNIST/raw/t10k-images-idx3-ubyte
On-goings/FashionMNIST Generator (cDCGAN-Pytorch)/data/FashionMNIST/raw/train-images-idx3-ubyte
On-goings/FashionMNIST Generator (cDCGAN-Pytorch)/data/FashionMNIST/raw/train-labels-idx1-ubyte
NLP/Toxic Comment Classification/pretrained_model/pytorch_model.bin
NLP/Toxic Comment Classification/pretrained_model/config.json
NLP/Toxic Comment Classification/pretrained_model/bert-base-uncased-tf_model.h5
NLP/Toxic Comment Classification/.vector_cache/glove.6B.100d.txt
NLP/IMDB Movies Sentiment Classification (LSTM-Pytorch)/.vector_cache/glove.6B.100d.txt
NLP/Disaster Tweets Real or Fake Classification (RNN-Pytorch)/.vector_cache/glove.6B.100d.txt
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/test_batch
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/test/test_batch
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_1
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_2
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_3
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_4
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_5
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/test/test_batch
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_1
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_2
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_3
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_4
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_5
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/test/test_batch
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_1
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_2
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_3
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_4
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_5
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/data_batch_5
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/data_batch_4
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/data_batch_3
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/data_batch_2
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/data_batch_1
*.meta
NLP/Toxic Comment Classification/pretrained_model/bert-base-uncased.rar
On-goings/Tweet Sentiment Extraction/.vector_cache/glove.6B.100d.txt
On-goings/Tweet Sentiment Extraction/data/abbreviation.txt
On-goings/Tweet Sentiment Extraction/data/labeledTrainData.tsv
On-goings/Tweet Sentiment Extraction/pretrained_model/config.json
On-goings/Tweet Sentiment Extraction/pretrained_model/pretrained_model.rar
On-goings/Tweet Sentiment Extraction/pretrained_model/pytorch_model.bin
On-goings/Tweet Sentiment Extraction/pretrained_model/tf_model.h5
On-goings/Tweet Sentiment Extraction/pretrained_model/vocab.txt
*.json
*.txt
NLP/Tweet Sentiment Extraction (BERT - Pytorch)/pretrained_model/tf_model.h5
NLP/Tweet Sentiment Extraction (BERT - Pytorch)/pretrained_model/pytorch_model.bin
NLP/Toxic Comment Classification (BERT - Pytorch)/pretrained_model/pytorch_model.bin
NLP/Toxic Comment Classification (BERT - Pytorch)/pretrained_model/bert-base-uncased-tf_model.h5
On-goings/Global Wheat Detection/.ipynb_checkpoints/Global Wheat Detection-checkpoint.ipynb
On-goings/Global Wheat Detection/.ipynb_checkpoints/Global Wheat Analysis-checkpoint.ipynb
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/.ipynb_checkpoints/Untitled-checkpoint.ipynb
On-goings/ChatBot/seq2seq/Seq2seq-PyTorch/
On-goings/ChatBot/datasets-master/toy-datasets/wine-classification/read_wine_data.py
On-goings/ChatBot/datasets-master/toy-datasets/mnist/read_mnist.py
On-goings/ChatBot/datasets-master/speech2text/TIMIT_corpus.torrent
On-goings/ChatBot/datasets-master/seq2seq/twitter/data/pull
On-goings/ChatBot/datasets-master/seq2seq/twitter/data.py
On-goings/ChatBot/datasets-master/seq2seq/twitter/Data Analysis.ipynb
On-goings/ChatBot/datasets-master/seq2seq/en-ta-parallel-v2/tokenizer.py
On-goings/ChatBot/datasets-master/seq2seq/en-ta-parallel-v2/Scratch Pad.ipynb
On-goings/ChatBot/datasets-master/seq2seq/en-ta-parallel-v2/data/pull
On-goings/ChatBot/datasets-master/seq2seq/en-ta-parallel-v2/data.py
On-goings/ChatBot/datasets-master/seq2seq/cornell_movie_corpus/scripts/sequencelengthplotter.py
On-goings/ChatBot/datasets-master/seq2seq/cornell_movie_corpus/scripts/prepare_data.py
On-goings/ChatBot/datasets-master/seq2seq/cornell_movie_corpus/raw_data/download.sh
On-goings/ChatBot/datasets-master/seq2seq/cornell_movie_corpus/pull_data.sh
On-goings/ChatBot/datasets-master/seq2seq/CMUdict/README.markdown
On-goings/ChatBot/datasets-master/seq2seq/CMUdict/data.py
On-goings/ChatBot/datasets-master/sentiment/aclImdb/utils.py
On-goings/ChatBot/datasets-master/sentiment/aclImdb/train.py
On-goings/ChatBot/datasets-master/sentiment/aclImdb/model.py
On-goings/ChatBot/datasets-master/sentiment/aclImdb/metadata.pkl
On-goings/ChatBot/datasets-master/sentiment/aclImdb/idx_y.npy
On-goings/ChatBot/datasets-master/sentiment/aclImdb/idx_x.npy
On-goings/ChatBot/datasets-master/sentiment/aclImdb/data.py
On-goings/ChatBot/datasets-master/sentiment/aclImdb/ckpt/.notempty
On-goings/ChatBot/datasets-master/qa/SQuAD/download.sh
On-goings/ChatBot/datasets-master/qa/bAbI/utils.py
On-goings/ChatBot/datasets-master/qa/bAbI/pull
On-goings/ChatBot/datasets-master/qa/bAbI/data.py
On-goings/ChatBot/datasets-master/lm/tiny_shakespeare/data.py
On-goings/ChatBot/datasets-master/lm/paul_graham/scraper.py
On-goings/ChatBot/datasets-master/LICENSE
On-goings/ChatBot/datasets-master/dialog_systems/dstc/README.markdown
On-goings/ChatBot/datasets-master/dialog_systems/dialog-bAbI/utils.py
On-goings/ChatBot/datasets-master/dialog_systems/dialog-bAbI/data/dialog-babi-tasks.tgz
On-goings/ChatBot/data/I17-1099.Datasets/EMNLP_dataset/.DS_Store
On-goings/ChatBot/data/I17-1099.Datasets/__MACOSX/EMNLP_dataset/._.DS_Store
On-goings/ChatBot/data/cornell_movie_dialogs_corpus/prepare_data.py
On-goings/ChatBot/data/cornell_movie_dialogs_corpus/Data_Analysis.ipynb
On-goings/ChatBot/data/cornell_movie_dialogs_corpus/chameleons.pdf
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/.ipynb_checkpoints/Untitled-checkpoint.ipynb
On-goings/Garbage Classification/datasets/garbage.rar
*.pyc
CNNs/Classification/MNIST (CNN-Pytorch)/data/MNIST/raw/t10k-images-idx3-ubyte
CNNs/Classification/MNIST (CNN-Pytorch)/data/MNIST/raw/t10k-labels-idx1-ubyte
CNNs/Classification/MNIST (CNN-Pytorch)/data/MNIST/raw/train-images-idx3-ubyte
CNNs/Classification/MNIST (CNN-Pytorch)/data/MNIST/raw/train-labels-idx1-ubyte
*.json
*.txt
*.pyc
*.xml
