
*.jpg
*.gz
FashionMNIST Generator (using GAN)/data/FashionMNIST/raw/train-labels-idx1-ubyte
FashionMNIST Generator (using GAN)/data/FashionMNIST/raw/train-images-idx3-ubyte
FashionMNIST Generator (using GAN)/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
FashionMNIST Generator (using GAN)/data/FashionMNIST/raw/t10k-images-idx3-ubyte
FashionMNIST Generator (using GAN)/data/FashionMNIST/processed/test.pt
FashionMNIST Generator (using GAN)/data/FashionMNIST/processed/training.pt
*.png
MNIST (CNN-Pytorch)/data/MNIST/raw/t10k-images-idx3-ubyte
MNIST (CNN-Pytorch)/data/MNIST/processed/training.pt
MNIST (CNN-Pytorch)/data/MNIST/processed/test.pt
MNIST (CNN-Pytorch)/data/MNIST/raw/t10k-labels-idx1-ubyte
MNIST (CNN-Pytorch)/data/MNIST/raw/train-images-idx3-ubyte
MNIST (CNN-Pytorch)/data/MNIST/raw/train-labels-idx1-ubyte
MNIST (CNN-Pytorch)/.vscode/launch.json
MNIST (CNN-Pytorch)/.vscode/settings.json
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/train-labels-idx1-ubyte
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/train-images-idx3-ubyte
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/t10k-images-idx3-ubyte
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/processed/training.pt
FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/processed/test.pt
*.zip
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/train-labels-idx1-ubyte
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/train-images-idx3-ubyte
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/t10k-labels-idx1-ubyte
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/t10k-images-idx3-ubyte
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/processed/training.pt
MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/processed/test.pt
SVHN Classification (CNN-Pytorch)/data/extra/extra_32x32.mat
SVHN Classification (CNN-Pytorch)/data/train/train_32x32.mat
*.pt
CNNs/MNIST (CNN-Pytorch)/data/MNIST/raw/t10k-images-idx3-ubyte
CNNs/MNIST (CNN-Pytorch)/data/MNIST/raw/t10k-labels-idx1-ubyte
CNNs/MNIST (CNN-Pytorch)/data/MNIST/raw/train-images-idx3-ubyte
CNNs/MNIST (CNN-Pytorch)/data/MNIST/raw/train-labels-idx1-ubyte
GANs/FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/t10k-images-idx3-ubyte
GANs/FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
GANs/FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/train-images-idx3-ubyte
GANs/FashionMNIST Generator (DCGAN-Pytorch)/data/FashionMNIST/raw/train-labels-idx1-ubyte
*.mp4
GANs/Horse to Zebrra (CycleGAN-Pytorch)/camera_channel.py
GANs/Horse to Zebrra (CycleGAN-Pytorch)/main.py
GANs/MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/t10k-images-idx3-ubyte
GANs/MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/t10k-labels-idx1-ubyte
GANs/MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/train-images-idx3-ubyte
GANs/MNIST Generator (Conditional GAN-Pytorch)/data/MNIST/raw/train-labels-idx1-ubyte
*.mat
*.Bmp
*.csv
On-goings/SVHN Classification (CNN-Pytorch)/model/model.pth
Object Detection/SVHN Recognition (FasterRCNN-Pytorch)/model/model.pth
Object Detection/SVHN Recognition (FasterRCNN-Pytorch)/SVHN Detection & Recogition .ipynb
NLP/Toxic Comment Classification/pretrained_model/bert-base-uncased-vocab.txt
*.pth
On-goings/FashionMNIST Generator (cDCGAN-Pytorch)/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
On-goings/FashionMNIST Generator (cDCGAN-Pytorch)/data/FashionMNIST/raw/t10k-images-idx3-ubyte
On-goings/FashionMNIST Generator (cDCGAN-Pytorch)/data/FashionMNIST/raw/train-images-idx3-ubyte
On-goings/FashionMNIST Generator (cDCGAN-Pytorch)/data/FashionMNIST/raw/train-labels-idx1-ubyte
NLP/Toxic Comment Classification/pretrained_model/pytorch_model.bin
NLP/Toxic Comment Classification/pretrained_model/config.json
NLP/Toxic Comment Classification/pretrained_model/bert-base-uncased-tf_model.h5
NLP/Toxic Comment Classification/.vector_cache/glove.6B.100d.txt
NLP/IMDB Movies Sentiment Classification (LSTM-Pytorch)/.vector_cache/glove.6B.100d.txt
NLP/Disaster Tweets Real or Fake Classification (RNN-Pytorch)/.vector_cache/glove.6B.100d.txt
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/test_batch
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/test/test_batch
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_1
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_2
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_3
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_4
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_5
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/test/test_batch
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_1
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_2
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_3
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_4
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_5
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/test/test_batch
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_1
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_2
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_3
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_4
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/train/data_batch_5
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/data_batch_5
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/data_batch_4
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/data_batch_3
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/data_batch_2
On-goings/CIFAR-10 Classification (CNN+KMeans-Sklearn+Pytorch)/data/cifar-10-batches-py/data_batch_1
*.meta
NLP/Toxic Comment Classification/pretrained_model/bert-base-uncased.rar
On-goings/Tweet Sentiment Extraction/.vector_cache/glove.6B.100d.txt
On-goings/Tweet Sentiment Extraction/data/abbreviation.txt
On-goings/Tweet Sentiment Extraction/data/labeledTrainData.tsv
On-goings/Tweet Sentiment Extraction/pretrained_model/config.json
On-goings/Tweet Sentiment Extraction/pretrained_model/pretrained_model.rar
On-goings/Tweet Sentiment Extraction/pretrained_model/pytorch_model.bin
On-goings/Tweet Sentiment Extraction/pretrained_model/tf_model.h5
On-goings/Tweet Sentiment Extraction/pretrained_model/vocab.txt
